$().ready(function() {

   // GENERATED
  var mageMap = {}
  <% for mage in Mage.all %> mageMap['<%= mage.name %>'] = {}; <% end  %>
  <% for ms in MageSchool.all %> mageMap['<%= ms.mage_name %>']['<%= ms.school_name %>'] = <%= ms.cost %>; <% end %>

  var buildParams = function() {
    return {
      for_type : _.map($("#for_type input:checked"), function(e) {
        return $(e).val()
      }),
      for_school : _.map($("#for_school input:checked"), function(e) {
        return $(e).val()
      })
    }
  }

  var mage = function() {
     return $('input[name="mage"]:checked').val()
  }

  var updateCardCost = function(card) {
     var costMap = mageMap[mage()]
     var costs =  _.map(card.levels, function(level_detail) {
        return level_detail.level * (card.novice ? 1 : costMap[level_detail.school_name])
     })

     return (card.cost = (card.or_cost) ?  _.min(costs) : _.reduce(costs, function(memo, cost) { return memo + cost }, 0)) 
  }

  var getUserDeckMaxes = function() {
     return {
       Core: parseInt($('#packs_container select[data-pack=Core]').val()),
       Tome: parseInt($('#packs_container select[data-pack=Tome]').val())
     }
     
  }

  var updateDeckTr = function(tr) {
    var tr = $(tr)
    var card = $(tr).data('card')
    $('td.cost', tr).text(card.cost = updateCardCost(card)) 
    $('td.total', tr).text(card.deck_cost = card.deck_amount * card.cost) 
  }

  var updateListTr = function(tr) {
    var tr = $(tr)
    var card = $(tr).data('card')
    $('td.cost', tr).text(updateCardCost(card))
  }

  var updateTotalDeckCost = function(start) {
    var total = (start || 0) + _.reduce($('#deck_table td.total'), function(memo, td) {
      return memo + parseInt($(td).text())
    },0)

    $("#total_deck_cost").text(total)
    return total
  }

  var updateAllCards = function() {
    _.each($('#deck_table tbody tr[data-code]'), updateDeckTr)
    _.each($('#card_list_table tbody tr[data-code]'), updateListTr)
    updateTotalDeckCost()
  }

  var updateCardMax = function(card) {
     userDeckMaxes = getUserDeckMaxes() 
     return (card.user_max = _.reduce(card.packs, function(memo, pack) {
        return memo + pack.amount * userDeckMaxes[pack.pack_name]
     },0))
  }

  var updateListCardMaxTr = function(tr) {
    var tr = $(tr)
    var card = $(tr).data('card')
    updateCardMax(card) 
        
    var maxText = (card.user_max < card.deck_max) ? "" + card.user_max + "/" + card.deck_max : card.deck_max

    $('td.max', tr).text(maxText)
  }

  var updateDeckAmountTr = function(tr) {
    var tr = $(tr)
    var card = $(tr).data('card')
    if(card) {
      if(!card.deck_amount) {
         card.deck_amount = 1
      }
      updateCardMax(card) 

      var max = _.min([card.deck_max, card.user_max])
      card.deck_amount = _.min([max, card.deck_amount])
      var td = $('td.amount', tr).empty()
      if(max === 1) {
        td.text('1') 
      } else {
         var select = $('<select/>').appendTo(td).change(function() {
           card.deck_amount = parseInt($(this).val())
           updateDeckTr(tr)
           updateTotalDeckCost()
         })

         for(i = 1; i <= max; i++) {
           var op = $('<option/>').val(i.toString()).text(i).appendTo(select)
           if(i == card.deck_amount) {
              op.attr('selected', 'selected')
           }
         }
      }
      updateDeckTr(tr)
    }
  }

  var updateCardMaxes = function() {
    _.each($('#deck_table tbody tr'), updateDeckAmountTr)
    _.each($("#card_list_table tbody tr"), updateListCardMaxTr)
  }

  $('select.deck_count').change(updateCardMaxes)

  var deckTable = $('#deck_table').dataTable({
    bServerSide: false,
    sPaginationType: 'bootstrap',
    aoColumnDefs: [{
      aTargets:[0],
      mData: function(card) {
        return "<button class='btn btn-small'><i class='icon-trash'></i></button>" + card.name
      }
    }, {
      aTargets:[1],
      mData: function() {
        return "<select/>"
      },
      sClass:'amount',
      bSortable:false
    }, {
      aTargets:[2],
      mData: 'cost',
      sClass: 'cost small'
    }, {
      aTargets:[3],
      mData: 'cost',
      sClass: 'total small',
      bSortable:false
    }],
    fnCreatedRow : function(tr, card, iDataIndex) {
      var tr = $(tr).data('card', card).attr('data-code', card.code)
      updateDeckAmountTr(tr)
      updateDeckTr(tr)
      updateTotalDeckCost(card.deck_cost)
    } 
  })

  $('#deck_table tbody').on('click', 'tr button',function() {
    deckTable.fnDeleteRow($(this).closest('tr')[0])
    updateTotalDeckCost()
  })

  var getDeckTr = function(code) {
    return $('#deck_table tbody tr[data-code=' + code + ']')
  }

  var deckHasCard = function(code) {
    return getDeckTr(code).length > 0
  }

  $('#dload_button_container button:not(#upload_btn)').click(_.throttle(function() {
    var file_type = $(this).data('dload') 

    $('#deck_mage_name').val(mage())
    $('#input_fields').empty().append(buildCards()).append($('<input type="hidden"/>').attr("name", 'type').val(file_type))

    $('#deck_dload_div').modal()
    

    return false
  }, 2000))

  var buildCards = function() {
     return _.flatten(_.map($('#deck_table tbody tr'), function(tr, i) {
       var card = $(tr).data('card')
       var base = 'deck[deck_cards_attributes][]'
       return [
         $('<input type="hidden"/>').attr('name', base + '[card_code]').attr('value', card.code),
         $('<input type="hidden"/>').attr('name', base + '[amount]').attr('value', card.deck_amount)
       ]
     }))
  }

  var getUrl = function() {
     var pag = $('.pagination em.current')
     return '/cards?page=' + (pag.length > 0 ? pag.text() : "1")
  }

  $('#mage_select').one('change', 'input', function() {

    var aoDataToMap = function(aoData) {
      return _.reduce(aoData, function(memo, data) {
        memo[data.name] = data.value
        return memo
      }, {})
    }
 
    var listTable = $("#card_list_table").dataTable({
      bJQueryUI: true,
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: '/cards',
      sPaginationType: 'bootstrap',
      aoColumnDefs: [{
        aTargets:[0],
        mData: function(card) {
          return "<button class='btn btn-small'><i class='icon-arrow-left'></i></button>&nbsp<a href='#'>" + card.name + "</a>"
        },
        bSortable:true 
      }, {
        aTargets:[1],
        mData:'cost',
        sClass:'cost small',
        bSortable:false
      },{ 
        aTargets:[2],
        mData:'deck_max',
        sClass:'max small',
        bSortable:false
      }],
      fnServerData: function(sSource, aoData, fnCallback, oSettings) {
        data = aoDataToMap(aoData)
        var order = (data.iSortCol_0 == 1 ? 'code ' : 'name ') + data.sSortDir_0

        oSettings.jqXHR = $.ajax({
            dataType: 'json',
            type: 'get',
            url: '/cards',
            data: _.extend({
              echo : data['sEcho'],
              order : order,
              search : data.sSearch,
              per_page : data['iDisplayLength'],
              page : (data['iDisplayStart']/data['iDisplayLength']) + 1
            }, buildParams()),
          success: function(data, textStatus, jqXHR) {

            $('#tables_container').show()

            $.each(data.entries, function(i, card) {
              updateCardCost(card)
            })
            fnCallback({
              iTotalRecords : data.total_entries,
              iTotalDisplayRecords : _.min([data.total_entries, data.per_page]),
              sEcho : data.echo,
              aaData : data.entries
            }, textStatus, jqXHR)
          }
        })
      }, 
      fnCreatedRow : function(tr, aData, iDataIndex) {
        var tr = $(tr)
        tr.data('card', aData).attr('data-code', aData.code)
        updateListCardMaxTr(tr)
      } 
    })

    $('#filters_container, #mage_profile_div').show()
    $('#for_type input, #for_school input').change(function() {
      listTable.fnDraw() 
    })
  })

  $('#mage_select input').change(updateAllCards)

  var showCard = _.throttle(function(card) {
    $('<img></img>').attr('src', '/assets/' + card.code + '.jpg').appendTo($('#card_holder').empty()) 
  }, 1000)

  $('#card_list_table').on('click', 'tbody tr button', function() {
    var listCard = $(this).closest('tr').data('card')
    if(deckHasCard(listCard.code)) {
      var tr = getDeckTr(listCard.code)
      var card = tr.data('card')
      card.deck_amount = card.deck_amount + 1
      updateDeckAmountTr(tr)
    } else {
      deckTable.dataTable().fnAddData(listCard)
    }
  })

  $('#card_list_table').on('click', 'tbody tr a', function() {
    showCard($(this).closest('tr').data('card'))
    return false
  })

  var showMage = function(type) {
    type = 'data-' + (type || 'card')
    var path = '/assets/' + $("#mage_holder").attr(type)
    $('<img></img>').attr('src', path).appendTo($('#mage_holder').empty()) 
  } 

  $('#mage_select input').change(function() {
    $('#mage_holder').attr('data-card',$(this).attr('data-card'))
    $('#mage_holder').attr('data-ability',$(this).attr('data-ability'))
    showMage()
  })

  $('#mage_profile_div a').click(function() {
    showMage($(this).attr('data-tab'))
    return false
  })

  $('#upload_btn').click(function() {
    $('#file_upload_div').modal()
  })

  if(window.deck) {
     $("#mage_select input[value='" + deck.mage_name + "']").attr('checked', 'checked').change()
    $("#deck_mage_name").val(deck.mage_name)
    $("#deck_title").val(deck.title)
    $("#deck_description").val(deck.description)
    _.each(window.deck.deck_cards, function(deck_card) {
      var card = $.extend({deck_amount : deck_card.amount}, deck_card.card )
      updateCardCost(card)
      deckTable.dataTable().fnAddData(card)    
    })
  }

  $('#dload_form').submit(function() {
    $('#deck_dload_div').modal('hide')
  })
})
