<div class="container">
  <div class="row">
    <img align="center" src="assets/header.jpg" border="0" alt="Block" width="737" height="339" />
  </div>
  <br/>
  <div class="row">
    <div id="user_decks_container" class="span4">
      <div class="well">
        <label for="decks">Core:
          <select class="deck_count" data-deck="Core">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>&nbsp;&nbsp;Tome:
          <select class="deck_count" data-deck="Tome">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>
      </div>
    </div>
    <div class="span2 offset1 well">
      <div id="total_cost_container">
        <strong>
          <label for="total">Total Deck Cost:<span id="total_deck_cost">0</span>
          </label>
        </strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='span4'>
      <div id="mage_select">
        <div class="well">
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Air)" />Wizard(Air)</label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Water)" />Wizard(Water)</label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Earth)" />Wizard(Earth)</label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Fire)" />Wizard(Fire)</label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Beastmaster" />Beastmaster</label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Warlock" />Warlock</label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Priestess" />Priestess</label>
        </div>
      </div>
     <div class='row'>
        <div id="dload_button_container" class="span3 well btn-group">
          <label for="download">
            <button data-dload="xml" class="btn btn-primary btn-small">XML</button>
            <button data-dload="csv" class="btn btn-primary btn-small">CSV</button>
            <button data-dload="pdf" class="btn btn-primary btn-small">PDF</button>
          </label>
        </div>
      </div>
    </div>
    <div class="span4 offset1">
      <div id="card_holder">
      </div>
    </div>
  </div>
  <div id="tables_container" class="row" style="display:none;">
    <div class="span4">
      <table id="deck_table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Cost</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
     <div class="span4">
      <table id="card_list_table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Cost</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="filters_container" class="span4" style="display:none;">
      <div id="for_type">
          <ul class="unstyled">
            <li>
            <input type="checkbox" name="attack" value="Attack" />Attacks</li>
            <li>
            <input type="checkbox" name="creature" value="Creature" />Creatures</li>
            <li>
            <input type="checkbox" name="conjuration" value="Conjuration" />Conjurations</li>
            <li>
            <input type="checkbox" name="enchantment" value="Enchantment" />Enchantments</li>
            <li>
            <input type="checkbox" name="equipment" value="Equipment" />Equipment</li>
            <li>
            <input type="checkbox" name="incantation" value="Incantation" />Incantations</li>
          </ul>
      </div>
      <div id="for_school">
        <ul class="unstyled">
          <li>
          <input type="checkbox" name="air" value="Air" />Air</li>
          <li>
          <input type="checkbox" name="arcane" value="Arcane" />Arcane</li>
          <li>
          <input type="checkbox" name="dark" value="Dark" />Dark</li>
          <li>
          <input type="checkbox" name="earth" value="Earth" />Earth</li>
          <li>
          <input type="checkbox" name="fire" value="Fire" />Fire</li>
          <li>
          <input type="checkbox" name="holy" value="Holy" />Holy</li>
          <li>
          <input type="checkbox" name="mind" value="Mind" />Mind</li>
          <li>
          <input type="checkbox" name="nature" value="Nature" />Nature</li>
          <li>
          <input type="checkbox" name="war" value="War" />War</li>
          <li>
          <input type="checkbox" name="water" value="Water" />Water</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="display:none;">
  <%= form_tag decks_path, :method => 'get', id:'deck_dload_form' do |f| %>
  <div id='input_fields'>
  </div>
  <% end %>
</div>   
