<div class="container">
  <div class="row">
     <img align="center" src="assets/header.jpg" border="0" alt="Block" width="737" height="339"/>
  </div>
  <br/>
  <div class="row">
    <div id="mage_select" class="span4">
      <div class="row">
        <div class="well">
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Air)"/>Wizard(Air)
          </label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Water)"/>Wizard(Water)
	  </label>
      	  <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Earth)"/>Wizard(Earth)
          </label>
          <label class="radio">
            <input type="radio" class="radio" name="mage" value="Wizard(Fire)"/>Wizard(Fire)
	  </label>
      	  <label class="radio">
            <input type="radio" class="radio" name="mage" value="Beastmaster"/>Beastmaster
	  </label>
      	  <label class="radio">
            <input type="radio" class="radio" name="mage" value="Warlock"/>Warlock
	  </label>
      	  <label class="radio">
            <input type="radio" class="radio" name="mage" value="Priestess"/>Priestess
	  </label>
        </div>
      </div>
      <div id="total_cost_container">
         <div class="row">
            <div class="well">
               <strong><label for="total">Total:<span id="total_deck_cost">0</span><label></strong>
            </div>
         </div>
      </div>
    </div>
    <div id="filters_container" class="span7 offset1" style="display:none;">
      <div class="row">
         <div class="span3">
           <div class="well">
             <div id="for_type" >
               <ul>
                  <li><input type="checkbox" name="attack" value="Attack"/>Attacks</li>
                  <li><input type="checkbox" name="creature" value="Creature"/>Creatures</li>
                  <li><input type="checkbox" name="conjuration" value="Conjuration"/>Conjurations</li>
                  <li><input type="checkbox" name="enchantment" value="Enchantment"/>Enchantments</li>
                  <li><input type="checkbox" name="equipment"  value="Equipment"/>Equipment</li>
                  <li><input type="checkbox" name="incantation" value="Incantation"/>Incantations</li>
               </ul>
             </div>
           </div>
         </div>
         <div class="span3 offset1">
           <div  class="well">
             <div id="for_school" >
               <ul>
                  <li><input type="checkbox" name="air"  value="Air"/>Air</li>
                  <li><input type="checkbox" name="arcane" value="Arcane"/>Arcane</li>
                  <li><input type="checkbox" name="dark"  value="Dark"/>Dark</li>
                  <li><input type="checkbox" name="earth" value="Earth"/>Earth</li>
                  <li><input type="checkbox" name="fire"  value="Fire"/>Fire</li>
                  <li><input type="checkbox" name="holy"  value="Holy"/>Holy</li>
                  <li><input type="checkbox" name="mind"  value="Mind"/>Mind</li>
                  <li><input type="checkbox" name="nature" value="Nature"/>Nature</li>
                  <li><input type="checkbox" name="war" value="War"/>War</li>
                  <li><input type="checkbox" name="water"  value="Water"/>Water</li>
               </ul>
             </div>
           </div>
        </div>
       </div>
    </div>
  </div>
  <div id="tables_container" class="row" style="display:none;">
    <div class="span6">
      <table id="deck_table" class="table table-bordered">
        <thead>
          <tr>
	    <th>Code</th>
	    <th>Title</th>
            <th>Amount</th>
	    <th>Cost</th>
            <th>Total</th>
	    <th></th>
	  <tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <table id="card_list_table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Code</th>
            <th>Title</th>
            <th>Cost</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
             <td colspan="5">
                <div id="pagination_div_container">
                  <%= will_paginate @cards %>
                </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  <div>
</div>
