// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select {
  width:80px;
}

#user_decks_container select {
  width:50px;
}

table select {
   width:50px;
}

table td {
  font-size:12px;
}

.dataTables_filter {
  display:none;
}
