// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header_div {
  background:url(header.jpg) top center no-repeat transparent;
}

select {
  width:80px;
}

#packs_container select {
  width:50px;
}

table select {
   width:50px;
}

table td {
  font-size:11px;
}

#filters_container {
  padding-top:60px;
}

#total_cost_container span {
  border:1px solid #ccc;
  color:#555; 
  border-radius:4px;
  height:30px;
  width:200px;
}

#deck_table tbody tr td.amount select {
 margin-bottom:1px;
}

#deck_table, #card_list_table, #total_cost_container {
  tr.Attack td.type, span.Attack {
    background:#F58760;
  }

  tr.Creature td.type, span.Creature {
    background:#734A2E;
    color:white;
  }

  tr.Enchantment td.type, span.Enchantment {
    background:#D47127;
  }

  tr.Conjuration td.type, span.Conjuration {
    background:#CADCAE;
  }

  tr.Equipment td.type, span.Equipment {
    background:#62677B;
    color:white;
  }

  tr.Incantation td.type, span.Incantation {
    background:#59499C;
    color:white;
  }

}
