// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header_div {
  background:url(header.jpg) top center no-repeat transparent;
}

select {
  width:80px;
}

#packs_container select {
  width:50px;
}

table select {
   width:50px;
}

table td {
  font-size:12px;
}

#filters_container {
  padding-top:60px;
}

#total_cost_container span {
  border:1px solid #ccc;
  color:#555; 
  border-radius:4px;
  height:30px;
  width:200px;
}
